@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @media (max-width: 381px) {
    .force-break-email {
      display: block;
    }
  }
}

/* styles/globals.css */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #F9FAFB;
}