/* src/styles/globals.css */

/* Import Tailwind */
@import "tailwindcss";

/* Define your Progress Media theme */
@theme {
  --color-primary: #4B0082;
  --color-secondary: #1E90FF;
  --color-accent: #FFD700;
  --color-dark: #111827;
  --color-light: #F9FAFB;

  --font-sans: "Lato", sans-serif;
  --font-serif: "Kalam", cursive;
}

/* Global Styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-light);
  color: var(--color-dark);
}

/* Utilities */
@layer utilities {
  @media (max-width: 381px) {
    .force-break-email {
      display: block;
    }
  }
}

